openapi: 3.0.3
info:
  description: The Speakeasy API allows teams to manage common operations with their APIs
  title: Speakeasy API
  version: 0.4.0 .
servers:
  - url: https://api.prod.speakeasyapi.dev
    x-speakeasy-server-id: prod
x-speakeasy-globals:
  parameters:
    - name: workspaceID
      in: path
      schema:
        type: string
security:
  - APIKey: []
  - Bearer: []
tags:
  - description: REST APIs for managing Authentication
    name: Auth
  - description: REST APIs for managing Api entities
    name: Apis
  - description: REST APIs for managing ApiEndpoint entities
    name: ApiEndpoints
  - description: REST APIs for managing Version Metadata entities
    name: Metadata
  - description: REST APIs for managing Schema entities
    name: Schemas
  - description: REST APIs for retrieving request information
    name: Requests
  - description: REST APIs for managing embeds
    name: Embeds
  - description: REST APIs for capturing event data
    name: Events
  - description: REST APIs for managing reports
    name: Reports
  - description: REST APIs for managing LLM OAS suggestions
    name: Suggest
  - description: REST APIs for working with Registry artifacts
    name: Artifacts
  - name: ShortURLs
    description: REST APIs for managing short URLs
externalDocs:
  url: /docs
  description: The Speakeasy Platform Documentation
paths:
  /v1/apis:
    get:
      summary: Get a list of Apis for a given workspace
      description: |-
        Get a list of all Apis and their versions for a given workspace.
        Supports filtering the APIs based on metadata attributes.
      operationId: getApis
      x-speakeasy-usage-example: true
      parameters:
        - description: Configuration for filter operations
          explode: true
          in: query
          name: op
          required: false
          schema:
            properties:
              and:
                description: Whether to AND or OR the filters
                type: boolean
            required:
              - and
            type: object
          style: deepObject
        - description: Metadata to filter Apis on
          explode: true
          in: query
          name: metadata
          schema:
            additionalProperties:
              items:
                type: string
              type: array
            description: Map of metadata key/values to filter on
            type: object
          style: deepObject
      responses:
        "200":
          content:
            application/json:
              x-speakeasy-usage-example: true
              schema:
                title: Apis
                description: A list of Apis for the given workspace
                items:
                  $ref: "#/components/schemas/Api"
                type: array
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: getApis
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetApisRequest{}
                ctx := context.Background()
                res, err := s.Apis.GetApis(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.Apis != nil {
                    // handle response
                }
            }
        - lang: java
          label: getApis
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetApisRequest req = GetApisRequest.builder()
                            .build();

                        GetApisResponse res = sdk.apis().getApis()
                            .request(req)
                            .call();

                        if (res.apis().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}:
    get:
      summary: Get all Api versions for a particular ApiEndpoint.
      description: |-
        Get all Api versions for a particular ApiEndpoint.
        Supports filtering the versions based on metadata attributes.
      operationId: getAllApiVersions
      parameters:
        - description: The ID of the Api to retrieve.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: Configuration for filter operations
          explode: true
          in: query
          name: op
          schema:
            properties:
              and:
                description: Whether to AND or OR the filters
                type: boolean
            required:
              - and
            type: object
          style: deepObject
        - description: Metadata to filter Apis on
          explode: true
          in: query
          name: metadata
          schema:
            additionalProperties:
              items:
                type: string
              type: array
            description: Map of metadata key/values to filter on
            type: object
          style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                title: Apis
                description: A list of Api versions for the given apiID
                items:
                  $ref: "#/components/schemas/Api"
                type: array
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: getAllApiVersions
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetAllAPIVersionsRequest{
                    APIID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Apis.GetAllAPIVersions(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.Apis != nil {
                    // handle response
                }
            }
        - lang: java
          label: getAllApiVersions
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetAllApiVersionsRequest req = GetAllApiVersionsRequest.builder()
                            .apiID("<value>")
                            .build();

                        GetAllApiVersionsResponse res = sdk.apis().getAllApiVersions()
                            .request(req)
                            .call();

                        if (res.apis().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
    put:
      summary: Upsert an Api
      description: |-
        Upsert an Api. If the Api does not exist, it will be created.
        If the Api exists, it will be updated.
      operationId: upsertApi
      parameters:
        - description: The ID of the Api to upsert.
          in: path
          name: apiID
          required: true
          schema:
            type: string
      requestBody:
        description: A JSON representation of the Api to upsert
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Api"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Api"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: upsertApi
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.UpsertAPIRequest{
                    APIID: "<value>",
                    API: shared.APIInput{
                        APIID: "<value>",
                        Description: "Synchronised 5th generation knowledge user",
                        VersionID: "<value>",
                    },
                }
                ctx := context.Background()
                res, err := s.Apis.UpsertAPI(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.API != nil {
                    // handle response
                }
            }
        - lang: java
          label: upsertApi
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        UpsertApiRequest req = UpsertApiRequest.builder()
                            .apiID("<value>")
                            .api(ApiInput.builder()
                                    .apiId("<value>")
                                    .description("<value>")
                                    .versionId("<value>")
                                    .build())
                            .build();

                        UpsertApiResponse res = sdk.apis().upsertApi()
                            .request(req)
                            .call();

                        if (res.api().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/api_endpoints:
    get:
      summary: Get all Api endpoints for a particular apiID.
      operationId: getAllApiEndpoints
      parameters:
        - description: The ID of the Api to retrieve ApiEndpoints for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: ApiEndpoints
                items:
                  $ref: "#/components/schemas/ApiEndpoint"
                type: array
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: getAllApiEndpoints
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetAllAPIEndpointsRequest{
                    APIID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.GetAllAPIEndpoints(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIEndpoints != nil {
                    // handle response
                }
            }
        - lang: java
          label: getAllApiEndpoints
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetAllApiEndpointsRequest req = GetAllApiEndpointsRequest.builder()
                            .apiID("<value>")
                            .build();

                        GetAllApiEndpointsResponse res = sdk.apiEndpoints().getAllApiEndpoints()
                            .request(req)
                            .call();

                        if (res.apiEndpoints().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}:
    delete:
      summary: Delete an Api.
      description: |-
        Delete a particular version of an Api. The will also delete all associated ApiEndpoints, Metadata, Schemas & Request Logs (if using a Postgres datastore).
      operationId: deleteApi
      parameters:
        - description: The ID of the Api to delete.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: deleteApi
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.DeleteAPIRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Apis.DeleteAPI(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: deleteApi
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        DeleteApiRequest req = DeleteApiRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        DeleteApiResponse res = sdk.apis().deleteApi()
                            .request(req)
                            .call();

                        // handle response
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/api_endpoints:
    get:
      summary: Get all ApiEndpoints for a particular apiID and versionID.
      operationId: getAllForVersionApiEndpoints
      parameters:
        - description: The ID of the Api to retrieve ApiEndpoints for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to retrieve ApiEndpoints for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: APIEndpoints
                items:
                  $ref: "#/components/schemas/ApiEndpoint"
                type: array
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: getAllForVersionApiEndpoints
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetAllForVersionAPIEndpointsRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.GetAllForVersionAPIEndpoints(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIEndpoints != nil {
                    // handle response
                }
            }
        - lang: java
          label: getAllForVersionApiEndpoints
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetAllForVersionApiEndpointsRequest req = GetAllForVersionApiEndpointsRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        GetAllForVersionApiEndpointsResponse res = sdk.apiEndpoints().getAllForVersionApiEndpoints()
                            .request(req)
                            .call();

                        if (res.apiEndpoints().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/api_endpoints/find/{displayName}:
    get:
      summary: Find an ApiEndpoint via its displayName.
      description: |-
        Find an ApiEndpoint via its displayName (set by operationId from a registered OpenAPI schema).
        This is useful for finding the ID of an ApiEndpoint to use in the /v1/apis/{apiID}/version/{versionID}/api_endpoints/{apiEndpointID} endpoints.
      operationId: findApiEndpoint
      parameters:
        - description: The ID of the Api the ApiEndpoint belongs to.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api the ApiEndpoint belongs to.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The displayName of the ApiEndpoint to find (set by operationId from OpenAPI schema).
          in: path
          name: displayName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEndpoint"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: findApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.FindAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    DisplayName: "Don.Strosin",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.FindAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIEndpoint != nil {
                    // handle response
                }
            }
        - lang: java
          label: findApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        FindApiEndpointRequest req = FindApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .displayName("<value>")
                            .build();

                        FindApiEndpointResponse res = sdk.apiEndpoints().findApiEndpoint()
                            .request(req)
                            .call();

                        if (res.apiEndpoint().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/api_endpoints/{apiEndpointID}:
    delete:
      summary: Delete an ApiEndpoint.
      description: |-
        Delete an ApiEndpoint. This will also delete all associated Request Logs (if using a Postgres datastore).
      operationId: deleteApiEndpoint
      parameters:
        - description: The ID of the Api the ApiEndpoint belongs to.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api the ApiEndpoint belongs to.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The ID of the ApiEndpoint to delete.
          in: path
          name: apiEndpointID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: deleteApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.DeleteAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    APIEndpointID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.DeleteAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: deleteApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        DeleteApiEndpointRequest req = DeleteApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .apiEndpointID("<value>")
                            .build();

                        DeleteApiEndpointResponse res = sdk.apiEndpoints().deleteApiEndpoint()
                            .request(req)
                            .call();

                        // handle response
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
    get:
      summary: Get an ApiEndpoint.
      operationId: getApiEndpoint
      parameters:
        - description: The ID of the Api the ApiEndpoint belongs to.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api the ApiEndpoint belongs to.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The ID of the ApiEndpoint to retrieve.
          in: path
          name: apiEndpointID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEndpoint"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: getApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    APIEndpointID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.GetAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIEndpoint != nil {
                    // handle response
                }
            }
        - lang: java
          label: getApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetApiEndpointRequest req = GetApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .apiEndpointID("<value>")
                            .build();

                        GetApiEndpointResponse res = sdk.apiEndpoints().getApiEndpoint()
                            .request(req)
                            .call();

                        if (res.apiEndpoint().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
    put:
      summary: Upsert an ApiEndpoint.
      description: |-
        Upsert an ApiEndpoint. If the ApiEndpoint does not exist it will be created, otherwise it will be updated.
      operationId: upsertApiEndpoint
      parameters:
        - description: The ID of the Api the ApiEndpoint belongs to.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api the ApiEndpoint belongs to.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The ID of the ApiEndpoint to upsert.
          in: path
          name: apiEndpointID
          required: true
          schema:
            type: string
      requestBody:
        description: A JSON representation of the ApiEndpoint to upsert.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiEndpoint"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEndpoint"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: upsertApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.UpsertAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    APIEndpointID: "<value>",
                    APIEndpoint: shared.APIEndpointInput{
                        APIEndpointID: "<value>",
                        Description: "Public-key systematic attitude",
                        DisplayName: "Camille.Schaefer11",
                        Method: "<value>",
                        Path: "/Library",
                        VersionID: "<value>",
                    },
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.UpsertAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIEndpoint != nil {
                    // handle response
                }
            }
        - lang: java
          label: upsertApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        UpsertApiEndpointRequest req = UpsertApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .apiEndpointID("<value>")
                            .apiEndpoint(ApiEndpointInput.builder()
                                    .apiEndpointId("<value>")
                                    .description("<value>")
                                    .displayName("<value>")
                                    .method("<value>")
                                    .path("<value>")
                                    .versionId("<value>")
                                    .build())
                            .build();

                        UpsertApiEndpointResponse res = sdk.apiEndpoints().upsertApiEndpoint()
                            .request(req)
                            .call();

                        if (res.apiEndpoint().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/api_endpoints/{apiEndpointID}/generate/openapi:
    get:
      summary: Generate an OpenAPI specification for a particular ApiEndpoint.
      description: |-
        This endpoint will generate a new operation in any registered OpenAPI document if the operation does not already exist in the document.
        Returns the original document and the newly generated document allowing a diff to be performed to see what has changed.
      operationId: generateOpenApiSpecForApiEndpoint
      parameters:
        - description: The ID of the Api to generate an OpenAPI specification for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to generate an OpenAPI specification for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The ID of the ApiEndpoint to generate an OpenAPI specification for.
          in: path
          name: apiEndpointID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateOpenApiSpecDiff"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: generateOpenApiSpecForApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GenerateOpenAPISpecForAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    APIEndpointID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.GenerateOpenAPISpecForAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.GenerateOpenAPISpecDiff != nil {
                    // handle response
                }
            }
        - lang: java
          label: generateOpenApiSpecForApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GenerateOpenApiSpecForApiEndpointRequest req = GenerateOpenApiSpecForApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .apiEndpointID("<value>")
                            .build();

                        GenerateOpenApiSpecForApiEndpointResponse res = sdk.apiEndpoints().generateOpenApiSpecForApiEndpoint()
                            .request(req)
                            .call();

                        if (res.generateOpenApiSpecDiff().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/api_endpoints/{apiEndpointID}/generate/postman:
    get:
      summary: Generate a Postman collection for a particular ApiEndpoint.
      description: |-
        Generates a postman collection that allows the endpoint to be called from postman variables produced for any path/query/header parameters included in the OpenAPI document.
      operationId: generatePostmanCollectionForApiEndpoint
      parameters:
        - description: The ID of the Api to generate a Postman collection for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to generate a Postman collection for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The ID of the ApiEndpoint to generate a Postman collection for.
          in: path
          name: apiEndpointID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                title: PostmanCollection
                type: string
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - ApiEndpoints
      x-codeSamples:
        - lang: go
          label: generatePostmanCollectionForApiEndpoint
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GeneratePostmanCollectionForAPIEndpointRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    APIEndpointID: "<value>",
                }
                ctx := context.Background()
                res, err := s.APIEndpoints.GeneratePostmanCollectionForAPIEndpoint(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.PostmanCollection != nil {
                    // handle response
                }
            }
        - lang: java
          label: generatePostmanCollectionForApiEndpoint
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GeneratePostmanCollectionForApiEndpointRequest req = GeneratePostmanCollectionForApiEndpointRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .apiEndpointID("<value>")
                            .build();

                        GeneratePostmanCollectionForApiEndpointResponse res = sdk.apiEndpoints().generatePostmanCollectionForApiEndpoint()
                            .request(req)
                            .call();

                        if (res.postmanCollection().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/generate/openapi:
    get:
      summary: Generate an OpenAPI specification for a particular Api.
      description: |-
        This endpoint will generate any missing operations in any registered OpenAPI document if the operation does not already exist in the document.
        Returns the original document and the newly generated document allowing a diff to be performed to see what has changed.
      operationId: generateOpenApiSpec
      parameters:
        - description: The ID of the Api to generate an OpenAPI specification for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to generate an OpenAPI specification for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateOpenApiSpecDiff"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: generateOpenApiSpec
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GenerateOpenAPISpecRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Apis.GenerateOpenAPISpec(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.GenerateOpenAPISpecDiff != nil {
                    // handle response
                }
            }
        - lang: java
          label: generateOpenApiSpec
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GenerateOpenApiSpecRequest req = GenerateOpenApiSpecRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        GenerateOpenApiSpecResponse res = sdk.apis().generateOpenApiSpec()
                            .request(req)
                            .call();

                        if (res.generateOpenApiSpecDiff().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/generate/postman:
    get:
      summary: Generate a Postman collection for a particular Api.
      description: |-
        Generates a postman collection containing all endpoints for a particular API. Includes variables produced for any path/query/header parameters included in the OpenAPI document.
      operationId: generatePostmanCollection
      parameters:
        - description: The ID of the Api to generate a Postman collection for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to generate a Postman collection for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                title: PostmanCollection
                type: string
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Apis
      x-codeSamples:
        - lang: go
          label: generatePostmanCollection
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GeneratePostmanCollectionRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Apis.GeneratePostmanCollection(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.PostmanCollection != nil {
                    // handle response
                }
            }
        - lang: java
          label: generatePostmanCollection
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GeneratePostmanCollectionRequest req = GeneratePostmanCollectionRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        GeneratePostmanCollectionResponse res = sdk.apis().generatePostmanCollection()
                            .request(req)
                            .call();

                        if (res.postmanCollection().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/metadata:
    get:
      summary: Get all metadata for a particular apiID and versionID.
      operationId: getVersionMetadata
      parameters:
        - description: The ID of the Api to retrieve metadata for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to retrieve metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                title: VersionMetadata
                items:
                  $ref: "#/components/schemas/VersionMetadata"
                type: array
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Metadata
      x-codeSamples:
        - lang: go
          label: getVersionMetadata
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetVersionMetadataRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Metadata.GetVersionMetadata(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.VersionMetadata != nil {
                    // handle response
                }
            }
        - lang: java
          label: getVersionMetadata
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetVersionMetadataRequest req = GetVersionMetadataRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        GetVersionMetadataResponse res = sdk.metadata().getVersionMetadata()
                            .request(req)
                            .call();

                        if (res.versionMetadata().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
    post:
      summary: Insert metadata for a particular apiID and versionID.
      operationId: insertVersionMetadata
      parameters:
        - description: The ID of the Api to insert metadata for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to insert metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      requestBody:
        description: A JSON representation of the metadata to insert.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VersionMetadata"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Metadata
      x-codeSamples:
        - lang: go
          label: insertVersionMetadata
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.InsertVersionMetadataRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    VersionMetadata: shared.VersionMetadataInput{
                        MetaKey: "<value>",
                        MetaValue: "<value>",
                    },
                }
                ctx := context.Background()
                res, err := s.Metadata.InsertVersionMetadata(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.VersionMetadata != nil {
                    // handle response
                }
            }
        - lang: java
          label: insertVersionMetadata
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        InsertVersionMetadataRequest req = InsertVersionMetadataRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .versionMetadata(VersionMetadataInput.builder()
                                    .metaKey("<value>")
                                    .metaValue("<value>")
                                    .build())
                            .build();

                        InsertVersionMetadataResponse res = sdk.metadata().insertVersionMetadata()
                            .request(req)
                            .call();

                        if (res.versionMetadata().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/metadata/{metaKey}/{metaValue}:
    delete:
      summary: Delete metadata for a particular apiID and versionID.
      operationId: deleteVersionMetadata
      parameters:
        - description: The ID of the Api to delete metadata for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The key of the metadata to delete.
          in: path
          name: metaKey
          required: true
          schema:
            type: string
        - description: The value of the metadata to delete.
          in: path
          name: metaValue
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Metadata
      x-codeSamples:
        - lang: go
          label: deleteVersionMetadata
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.DeleteVersionMetadataRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    MetaKey: "<value>",
                    MetaValue: "<value>",
                }
                ctx := context.Background()
                res, err := s.Metadata.DeleteVersionMetadata(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: deleteVersionMetadata
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        DeleteVersionMetadataRequest req = DeleteVersionMetadataRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .metaKey("<value>")
                            .metaValue("<value>")
                            .build();

                        DeleteVersionMetadataResponse res = sdk.metadata().deleteVersionMetadata()
                            .request(req)
                            .call();

                        // handle response
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/schema:
    get:
      summary: Get information about the latest schema.
      description: "Returns information about the last uploaded schema for a particular API version. \nThis won't include the schema itself, that can be retrieved via the downloadSchema operation."
      operationId: getSchema
      parameters:
        - description: The ID of the Api to get the schema for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Schemas
      x-codeSamples:
        - lang: go
          label: getSchema
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetSchemaRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Schemas.GetSchema(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.Schema != nil {
                    // handle response
                }
            }
        - lang: java
          label: getSchema
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetSchemaRequest req = GetSchemaRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        GetSchemaResponse res = sdk.schemas().getSchema()
                            .request(req)
                            .call();

                        if (res.schema().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
    post:
      summary: Register a schema.
      description: |-
        Allows uploading a schema for a particular API version.
        This will be used to populate ApiEndpoints and used as a base for any schema generation if present.
      operationId: registerSchema
      parameters:
        - description: The ID of the Api to get the schema for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      requestBody:
        description: The schema file to upload provided as a multipart/form-data file segment.
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              required:
                - file
              type: object
        required: true
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Schemas
      x-codeSamples:
        - lang: go
          label: registerSchema
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.RegisterSchemaRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    RequestBody: operations.RegisterSchemaRequestBody{
                        File: operations.File{
                            FileName: "your_file_here",
                            Content: []byte("0xCAFCA03e0e"),
                        },
                    },
                }
                ctx := context.Background()
                res, err := s.Schemas.RegisterSchema(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: registerSchema
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        RegisterSchemaRequest req = RegisterSchemaRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .requestBody(RegisterSchemaRequestBody.builder()
                                    .file(File.builder()
                                            .fileName("<value>")
                                            .content("0xCAFCA03e0e".getBytes())
                                            .build())
                                    .build())
                            .build();

                        RegisterSchemaResponse res = sdk.schemas().registerSchema()
                            .request(req)
                            .call();

                        // handle response
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/schema/download:
    get:
      summary: Download the latest schema for a particular apiID.
      operationId: downloadSchema
      parameters:
        - description: The ID of the Api to download the schema for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                title: Schema
                type: string
            application/x-yaml:
              schema:
                format: binary
                title: Schema
                type: string
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Schemas
      x-codeSamples:
        - lang: go
          label: downloadSchema
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.DownloadSchemaRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Schemas.DownloadSchema(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.TwoHundredApplicationJSONSchema != nil {
                    // handle response
                }
            }
        - lang: java
          label: downloadSchema
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        DownloadSchemaRequest req = DownloadSchemaRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .build();

                        DownloadSchemaResponse res = sdk.schemas().downloadSchema()
                            .request(req)
                            .call();

                        if (res.twoHundredApplicationJsonSchema().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/schema/{baseRevisionID}/diff/{targetRevisionID}:
    get:
      summary: Get a diff of two schema revisions for an Api.
      operationId: getSchemaDiff
      parameters:
        - description: The ID of the Api to retrieve schemas for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The base revision ID of the schema to retrieve.
          in: path
          name: baseRevisionID
          required: true
          schema:
            type: string
        - description: The target revision ID of the schema to retrieve.
          in: path
          name: targetRevisionID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SchemaDiff"
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Schemas
      x-codeSamples:
        - lang: go
          label: getSchemaDiff
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
            )

            func main() {
                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.String("<YOUR_API_KEY_HERE>"),
                    }),
                )
                request := operations.GetSchemaDiffRequest{
                    APIID: "<value>",
                    VersionID: "<value>",
                    BaseRevisionID: "<value>",
                    TargetRevisionID: "<value>",
                }
                ctx := context.Background()
                res, err := s.Schemas.GetSchemaDiff(ctx, request)
                if err != nil {
                    log.Fatal(err)
                }
                if res.SchemaDiff != nil {
                    // handle response
                }
            }
        - lang: java
          label: getSchemaDiff
          source: |-
            package hello.world;

            import io.github.speakeasy_sdks_staging.javaclientsdk.SDK;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.operations.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.*;
            import io.github.speakeasy_sdks_staging.javaclientsdk.models.shared.Security;
            import io.github.speakeasy_sdks_staging.javaclientsdk.utils.EventStream;
            import java.math.BigDecimal;
            import java.math.BigDecimal;
            import java.math.BigInteger;
            import java.time.LocalDate;
            import java.time.OffsetDateTime;
            import java.util.Optional;
            import org.openapitools.jackson.nullable.JsonNullable;
            import static java.util.Map.entry;

            public class Application {

                public static void main(String[] args) throws Exception {
                    try {
                        SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                            .build();

                        GetSchemaDiffRequest req = GetSchemaDiffRequest.builder()
                            .apiID("<value>")
                            .versionID("<value>")
                            .baseRevisionID("<value>")
                            .targetRevisionID("<value>")
                            .build();

                        GetSchemaDiffResponse res = sdk.schemas().getSchemaDiff()
                            .request(req)
                            .call();

                        if (res.schemaDiff().isPresent()) {
                            // handle response
                        }
                    } catch (io.github.speakeasy_sdks_staging.javaclientsdk.models.errors.SDKError e) {
                        // handle exception
                        throw e;
                    } catch (Exception e) {
                        // handle exception
                        throw e;
                    }

                }
            }
  /v1/apis/{apiID}/version/{versionID}/schema/{revisionID}:
    delete:
      summary: Delete a particular schema revision for an Api.
      operationId: deleteSchema
      parameters:
        - description: The ID of the Api to delete schemas for.
          in: path
          name: apiID
          required: true
          schema:
            type: string
        - description: The version ID of the Api to delete metadata for.
          in: path
          name: versionID
          required: true
          schema:
            type: string
        - description: The revision ID of the schema to delete.
          in: path
          name: revisionID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        default:
          $ref: "#/components/responses/default"
      tags:
        - Schemas
      x-codeSamples:
        - lang: go
          label: deleteSchema
          source: |-
            package main

            import(
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"context"
            	"log"
[...]
