openapi: 3.0.3
info:
  description: |-
    The Speakeasy API allows teams to manage common operations with their APIs
    The Subscriptions API manages subscriptions for CLI and registry events
  title: Speakeasy API
  version: 0.4.0
servers:
  - url: https://api.prod.speakeasy.com
    x-speakeasy-server-id: prod
x-speakeasy-globals:
  parameters:
    - name: workspace_id
      in: path
      schema:
        type: string
security:
  - APIKey: []
  - WorkspaceIdentifier: []
  - Bearer: []
tags:
  - description: REST APIs for managing Authentication
    name: Auth
  - description: REST APIs for managing events captured by a speakeasy binary (CLI, GitHub Action etc)
    name: Events
  - description: REST APIs for managing reports (lint reports, change reports, etc)
    name: Reports
  - description: REST APIs for managing the github integration
    name: Github
  - description: REST APIs for managing LLM OAS suggestions
    name: Suggest
  - name: ShortURLs
    description: REST APIs for managing short URLs
  - name: Workspaces
    description: REST APIs for managing Workspaces (speakeasy tenancy)
  - name: Organizations
    description: REST APIs for managing Organizations (speakeasy L1 Tenancy construct)
  - name: CodeSamples
    description: REST APIs for retrieving Code Samples
  - name: Webhooks
    description: Webhook endpoints for external service integrations
  - name: Artifacts
    description: REST APIs for working with Registry artifacts
  - name: Subscriptions
    description: REST APIs for managing subscriptions
externalDocs:
  url: /docs
  description: The Speakeasy Platform Documentation
paths:
  /v1/auth/validate:
    get:
      summary: Validate the current api key.
      operationId: validateApiKey
      tags:
        - Auth
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyDetails"
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: validateApiKey
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Auth.ValidateAPIKey(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.APIKeyDetails != nil {
                    // handle response
                }
            }
        - lang: java
          label: validateApiKey
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.ValidateApiKeyResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    ValidateApiKeyResponse res = sdk.auth().validateApiKey()
                            .call();

                    if (res.apiKeyDetails().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/user:
    get:
      summary: Get information about the current user.
      operationId: getUser
      tags:
        - Auth
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: getUser
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Auth.GetUser(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.User != nil {
                    // handle response
                }
            }
        - lang: java
          label: getUser
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetUserResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetUserResponse res = sdk.auth().getUser()
                            .call();

                    if (res.user().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/auth/access_token:
    get:
      summary: Get or refresh an access token for the current workspace.
      security:
        - {}
      operationId: getAccessToken
      tags:
        - Auth
      parameters:
        - description: The workspace ID
          in: query
          name: workspace_id
          required: true
          schema:
            type: string
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessToken"
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: getAccessToken
          source: |-
            package main

            import(
            	"context"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New()

                res, err := s.Auth.GetAccessToken(ctx, operations.GetAccessTokenRequest{
                    WorkspaceID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.AccessToken != nil {
                    // handle response
                }
            }
        - lang: java
          label: getAccessToken
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetAccessTokenRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetAccessTokenResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                        .build();

                    GetAccessTokenRequest req = GetAccessTokenRequest.builder()
                            .workspaceId("<id>")
                            .build();

                    GetAccessTokenResponse res = sdk.auth().getAccessToken()
                            .request(req)
                            .call();

                    if (res.accessToken().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/code_sample:
    get:
      summary: Retrieve usage snippets
      description: >-
        Retrieve usage snippets from an OpenAPI document stored in the registry. Supports filtering by language and operation ID.
      operationId: getCodeSamples
      x-speakeasy-name-override: get
      tags:
        - CodeSamples
      parameters:
        - name: registry_url
          description: The registry URL from which to retrieve the snippets.
          in: query
          required: true
          example: https://spec.speakeasy.com/my-org/my-workspace/my-source
          schema:
            type: string
        - name: operation_ids
          description: The operation IDs to retrieve snippets for.
          in: query
          required: false
          example: "getPets"
          schema:
            type: array
            items:
              type: string
        - name: method_paths
          description: The method paths to retrieve snippets for.
          in: query
          required: false
          example: [{"method": "get", "path": "/pets"}]
          schema:
            type: array
            items:
              type: object
              required: ["method", "path"]
              properties:
                method:
                  $ref: "#/components/schemas/HttpMethod"
                path:
                  type: string
        - name: languages
          description: The languages to retrieve snippets for.
          in: query
          required: false
          example: ["python", "javascript"]
          schema:
            type: array
            items:
              type: string
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSnippets"
              examples:
                default:
                  $ref: "#/components/examples/UsageSnippets"
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: getCodeSamples
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.CodeSamples.Get(ctx, operations.GetCodeSamplesRequest{
                    Languages: []string{
                        "python",
                        "javascript",
                    },
                    MethodPaths: []operations.MethodPaths{
                        operations.MethodPaths{
                            Method: shared.HTTPMethodGet,
                            Path: "/pets",
                        },
                    },
                    OperationIds: []string{
                        "g",
                        "e",
                        "t",
                        "P",
                        "e",
                        "t",
                        "s",
                    },
                    RegistryURL: "https://spec.speakeasy.com/my-org/my-workspace/my-source",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.UsageSnippets != nil {
                    // handle response
                }
            }
  /v1/code_sample/preview:
    post:
      summary: Generate Code Sample previews from a file and configuration parameters.
      description: This endpoint generates Code Sample previews from a file and configuration parameters.
      operationId: generateCodeSamplePreview
      tags:
        - CodeSamples
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CodeSampleSchemaInput"
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSnippets"
              examples:
                default:
                  $ref: "#/components/examples/UsageSnippets"
        4XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: generateCodeSamplePreview
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"os"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                example, fileErr := os.Open("example.file")
                if fileErr != nil {
                    panic(fileErr)
                }

                res, err := s.CodeSamples.GenerateCodeSamplePreview(ctx, shared.CodeSampleSchemaInput{
                    Language: "<value>",
                    SchemaFile: shared.SchemaFile{
                        Content: example,
                        FileName: "example.file",
                    },
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.UsageSnippets != nil {
                    // handle response
                }
            }
        - lang: java
          label: generateCodeSamplePreview
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GenerateCodeSamplePreviewResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.CodeSampleSchemaInput;
            import dev.speakeasyapi.javaclientsdk.models.shared.SchemaFile;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;
            import java.nio.charset.StandardCharsets;
            import java.util.List;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    CodeSampleSchemaInput req = CodeSampleSchemaInput.builder()
                            .languages(List.of(
                                "<value>"))
                            .schemaFile(SchemaFile.builder()
                                .fileName("example.file")
                                .content("0xc3dD8BfBef".getBytes(StandardCharsets.UTF_8))
                                .build())
                            .build();

                    GenerateCodeSamplePreviewResponse res = sdk.generateCodeSamplePreview()
                            .request(req)
                            .call();

                    if (res.twoHundredApplicationXYamlResponseStream().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/code_sample/preview/async:
    post:
      summary: Initiate asynchronous Code Sample preview generation from a file and configuration parameters, receiving an async JobID response for polling.
      description: This endpoint generates Code Sample previews from a file and configuration parameters, receiving an async JobID response for polling.
      operationId: generateCodeSamplePreviewAsync
      tags:
        - CodeSamples
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CodeSampleSchemaInput"
      responses:
        "202":
          description: Job accepted, returns a job ID to poll for status and result
          content:
            application/json:
              schema:
                type: object
                required:
                  - job_id
                  - status
                properties:
                  job_id:
                    type: string
                    description: The job ID for polling
                  status:
                    $ref: "#/components/schemas/CodeSamplesJobStatus"
        4XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: generateCodeSamplePreviewAsync
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"os"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                example, fileErr := os.Open("example.file")
                if fileErr != nil {
                    panic(fileErr)
                }

                res, err := s.CodeSamples.GenerateCodeSamplePreviewAsync(ctx, shared.CodeSampleSchemaInput{
                    Language: "<value>",
                    SchemaFile: shared.SchemaFile{
                        Content: example,
                        FileName: "example.file",
                    },
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.Object != nil {
                    // handle response
                }
            }
        - lang: java
          label: generateCodeSamplePreviewAsync
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GenerateCodeSamplePreviewAsyncResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.CodeSampleSchemaInput;
            import dev.speakeasyapi.javaclientsdk.models.shared.SchemaFile;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;
            import java.nio.charset.StandardCharsets;
            import java.util.List;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    CodeSampleSchemaInput req = CodeSampleSchemaInput.builder()
                            .languages(List.of(
                                "<value>"))
                            .schemaFile(SchemaFile.builder()
                                .fileName("example.file")
                                .content("0xED5CDd177E".getBytes(StandardCharsets.UTF_8))
                                .build())
                            .build();

                    GenerateCodeSamplePreviewAsyncResponse res = sdk.generateCodeSamplePreviewAsync()
                            .request(req)
                            .call();

                    if (res.object().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/code_sample/preview/async/{jobID}:
    get:
      summary: Poll for the result of an asynchronous Code Sample preview generation.
      description: Poll for the result of an asynchronous Code Sample preview generation.
      operationId: getCodeSamplePreviewAsync
      tags:
        - CodeSamples
      parameters:
        - in: path
          name: jobID
          required: true
          schema:
            type: string
          description: The ID of the job to check the status and retrieve results
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSnippets"
              examples:
                default:
                  $ref: "#/components/examples/UsageSnippets"
        "202":
          description: Job is still in progress
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    $ref: "#/components/schemas/CodeSamplesJobStatus"
        4XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: getCodeSamplePreviewAsync
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.CodeSamples.GetCodeSamplePreviewAsync(ctx, operations.GetCodeSamplePreviewAsyncRequest{
                    JobID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.Object != nil {
                    // handle response
                }
            }
        - lang: java
          label: getCodeSamplePreviewAsync
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetCodeSamplePreviewAsyncRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetCodeSamplePreviewAsyncResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetCodeSamplePreviewAsyncRequest req = GetCodeSamplePreviewAsyncRequest.builder()
                            .jobID("<id>")
                            .build();

                    GetCodeSamplePreviewAsyncResponse res = sdk.getCodeSamplePreviewAsync()
                            .request(req)
                            .call();

                    if (res.twoHundredApplicationXYamlResponseStream().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/github/setup:
    get:
      operationId: getGithubSetupState
      x-speakeasy-name-override: getSetup
      tags:
        - Github
      parameters:
        - in: query
          name: org
          required: true
          schema:
            type: string
        - in: query
          name: repo
          required: true
          schema:
            type: string
        - in: query
          name: generate_gen_lock_id
          required: true
          schema:
            type: string
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubSetupStateResponse"
          description: github setup state response
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: getGithubSetupState
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.GetSetup(ctx, operations.GetGithubSetupStateRequest{
                    GenerateGenLockID: "<id>",
                    Org: "<value>",
                    Repo: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.GithubSetupStateResponse != nil {
                    // handle response
                }
            }
  /v1/github/check_access:
    get:
      operationId: checkGithubAccess
      x-speakeasy-name-override: checkAccess
      tags:
        - Github
      parameters:
        - in: query
          name: org
          required: true
          schema:
            type: string
        - in: query
          name: repo
          required: true
          schema:
            type: string
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: checkGithubAccess
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.CheckAccess(ctx, operations.CheckGithubAccessRequest{
                    Org: "<value>",
                    Repo: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: checkGithubAccess
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.CheckGithubAccessRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.CheckGithubAccessResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    CheckGithubAccessRequest req = CheckGithubAccessRequest.builder()
                            .org("<value>")
                            .repo("<value>")
                            .build();

                    CheckGithubAccessResponse res = sdk.github().checkAccess()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/link:
    post:
      operationId: linkGithubAccess
      x-speakeasy-name-override: linkGithub
      tags:
        - Github
      parameters:
        - in: query
          name: installation_id
          required: false
          schema:
            type: string
        - in: query
          name: github_org
          required: false
          schema:
            type: string
        - in: query
          name: github_oidc_token
          required: false
          schema:
            type: string
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: linkGithubAccess
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.LinkGithub(ctx, operations.LinkGithubAccessRequest{})
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: linkGithubAccess
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.LinkGithubAccessRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.LinkGithubAccessResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    LinkGithubAccessRequest req = LinkGithubAccessRequest.builder()
                            .build();

                    LinkGithubAccessResponse res = sdk.github().linkGithub()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/publishing_prs:
    get:
      operationId: githubCheckPublishingPRs
      x-speakeasy-name-override: checkPublishingPRs
      x-speakeasy-test: false
      tags:
        - Github
      parameters:
        - in: query
          name: generate_gen_lock_id
          required: true
          schema:
            type: string
        - in: query
          name: org
          required: true
          schema:
            type: string
        - in: query
          name: repo
          required: true
          schema:
            type: string
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubPublishingPRResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubCheckPublishingPRs
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.CheckPublishingPRs(ctx, operations.GithubCheckPublishingPRsRequest{
                    GenerateGenLockID: "<id>",
                    Org: "<value>",
                    Repo: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.GithubPublishingPRResponse != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubCheckPublishingPRs
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubCheckPublishingPRsRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubCheckPublishingPRsResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubCheckPublishingPRsRequest req = GithubCheckPublishingPRsRequest.builder()
                            .generateGenLockId("<id>")
                            .org("<value>")
                            .repo("<value>")
                            .build();

                    GithubCheckPublishingPRsResponse res = sdk.github().checkPublishingPRs()
                            .request(req)
                            .call();

                    if (res.githubPublishingPRResponse().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/github/publishing_secrets:
    get:
      operationId: githubCheckPublishingSecrets
      x-speakeasy-name-override: checkPublishingSecrets
      x-speakeasy-test: false
      tags:
        - Github
      parameters:
        - in: query
          name: generate_gen_lock_id
          required: true
          schema:
            type: string
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubMissingPublishingSecretsResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubCheckPublishingSecrets
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.CheckPublishingSecrets(ctx, operations.GithubCheckPublishingSecretsRequest{
                    GenerateGenLockID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.GithubMissingPublishingSecretsResponse != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubCheckPublishingSecrets
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubCheckPublishingSecretsRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubCheckPublishingSecretsResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubCheckPublishingSecretsRequest req = GithubCheckPublishingSecretsRequest.builder()
                            .generateGenLockId("<id>")
                            .build();

                    GithubCheckPublishingSecretsResponse res = sdk.github().checkPublishingSecrets()
                            .request(req)
                            .call();

                    if (res.githubMissingPublishingSecretsResponse().isPresent()) {
                        // handle response
                    }
                }
            }
    post:
      operationId: githubStorePublishingSecrets
      x-speakeasy-name-override: storePublishingSecrets
      tags:
        - Github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GithubStorePublishingSecretsRequest"
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubStorePublishingSecrets
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.StorePublishingSecrets(ctx, shared.GithubStorePublishingSecretsRequest{
                    GenerateGenLockID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubStorePublishingSecrets
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubStorePublishingSecretsResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.GithubStorePublishingSecretsRequest;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubStorePublishingSecretsRequest req = GithubStorePublishingSecretsRequest.builder()
                            .generateGenLockId("<id>")
                            .build();

                    GithubStorePublishingSecretsResponse res = sdk.github().storePublishingSecrets()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/configure_code_samples:
    post:
      operationId: githubConfigureCodeSamples
      x-speakeasy-name-override: configureCodeSamples
      tags:
        - Github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GithubConfigureCodeSamplesRequest"
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubConfigureCodeSamplesResponse"
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubConfigureCodeSamples
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.ConfigureCodeSamples(ctx, shared.GithubConfigureCodeSamplesRequest{
                    Org: "<value>",
                    Repo: "<value>",
                    TargetName: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.GithubConfigureCodeSamplesResponse != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubConfigureCodeSamples
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubConfigureCodeSamplesResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.GithubConfigureCodeSamplesRequest;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubConfigureCodeSamplesRequest req = GithubConfigureCodeSamplesRequest.builder()
                            .org("<value>")
                            .repo("<value>")
                            .targetName("<value>")
                            .build();

                    GithubConfigureCodeSamplesResponse res = sdk.github().configureCodeSamples()
                            .request(req)
                            .call();

                    if (res.githubConfigureCodeSamplesResponse().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/github/configure_mintlify_repo:
    post:
      operationId: githubConfigureMintlifyRepo
      x-speakeasy-name-override: configureMintlifyRepo
      tags:
        - Github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GithubConfigureMintlifyRepoRequest"
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubConfigureMintlifyRepo
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.ConfigureMintlifyRepo(ctx, shared.GithubConfigureMintlifyRepoRequest{
                    Input: "<value>",
                    Org: "<value>",
                    Overlays: []string{
                        "<value 1>",
                    },
                    Repo: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubConfigureMintlifyRepo
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubConfigureMintlifyRepoResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.GithubConfigureMintlifyRepoRequest;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;
            import java.util.List;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubConfigureMintlifyRepoRequest req = GithubConfigureMintlifyRepoRequest.builder()
                            .org("<value>")
                            .repo("<value>")
                            .input("<value>")
                            .overlays(List.of(
                                "<value>"))
                            .build();

                    GithubConfigureMintlifyRepoResponse res = sdk.github().configureMintlifyRepo()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/configure_target:
    post:
      operationId: githubConfigureTarget
      x-speakeasy-name-override: configureTarget
      tags:
        - Github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GithubConfigureTargetRequest"
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubConfigureTarget
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.ConfigureTarget(ctx, shared.GithubConfigureTargetRequest{
                    Org: "<value>",
                    RepoName: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubConfigureTarget
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubConfigureTargetResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.GithubConfigureTargetRequest;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubConfigureTargetRequest req = GithubConfigureTargetRequest.builder()
                            .org("<value>")
                            .repoName("<value>")
                            .build();

                    GithubConfigureTargetResponse res = sdk.github().configureTarget()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/trigger_action:
    post:
      operationId: githubTriggerAction
      x-speakeasy-name-override: triggerAction
      tags:
        - Github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GithubTriggerActionRequest"
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: githubTriggerAction
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.TriggerAction(ctx, shared.GithubTriggerActionRequest{
                    GenLockID: "<id>",
                    Org: "<value>",
                    RepoName: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: githubTriggerAction
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GithubTriggerActionResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.GithubTriggerActionRequest;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GithubTriggerActionRequest req = GithubTriggerActionRequest.builder()
                            .org("<value>")
                            .repoName("<value>")
                            .genLockId("<id>")
                            .build();

                    GithubTriggerActionResponse res = sdk.github().triggerAction()
                            .request(req)
                            .call();

                    // handle response
                }
            }
  /v1/github/action:
    get:
      operationId: getGitHubAction
      x-speakeasy-name-override: getAction
      x-speakeasy-test: false
      tags:
        - Github
      parameters:
        - description: The targetName of the workflow target.
          in: query
          name: targetName
          schema:
            type: string
        - in: query
          name: org
          required: true
          schema:
            type: string
        - in: query
          name: repo
          required: true
          schema:
            type: string
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GithubGetActionResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      x-codeSamples:
        - lang: go
          label: getGitHubAction
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Github.GetAction(ctx, operations.GetGitHubActionRequest{
                    Org: "<value>",
                    Repo: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.GithubGetActionResponse != nil {
                    // handle response
                }
            }
        - lang: java
          label: getGitHubAction
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetGitHubActionRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetGitHubActionResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetGitHubActionRequest req = GetGitHubActionRequest.builder()
                            .org("<value>")
                            .repo("<value>")
                            .build();

                    GetGitHubActionResponse res = sdk.github().getAction()
                            .request(req)
                            .call();

                    if (res.githubGetActionResponse().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/organizations:
    get:
      summary: Get organizations for a user
      description: |-
        Returns a list of organizations a user has access too
      operationId: getOrganizations
      x-speakeasy-name-override: getAll
      responses:
        "2XX":
          content:
            application/json:
              schema:
                title: Organizations
                items:
                  $ref: "#/components/schemas/Organization"
                type: array
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getOrganizations
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetAll(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.Organizations != nil {
                    // handle response
                }
            }
        - lang: java
          label: getOrganizations
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetOrganizationsResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetOrganizationsResponse res = sdk.organizations().getAll()
                            .call();

                    if (res.organizations().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/organization:
    post:
      summary: Create an organization
      description: |-
        Creates an organization
      operationId: createOrganization
      x-speakeasy-name-override: create
      requestBody:
        description: The organization to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Organization"
        required: true
      responses:
        "2XX":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: createOrganization
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/types"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.Create(ctx, shared.Organization{
                    AccountType: shared.AccountTypeBusiness,
                    CreatedAt: types.MustTimeFromString("2026-10-26T09:05:00.560Z"),
                    ID: "<id>",
                    Name: "<value>",
                    Slug: "<value>",
                    SsoActivated: false,
                    TelemetryDisabled: false,
                    UpdatedAt: types.MustTimeFromString("2024-12-22T08:00:51.380Z"),
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.Organization != nil {
                    // handle response
                }
            }
        - lang: java
          label: createOrganization
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.CreateOrganizationResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.AccountType;
            import dev.speakeasyapi.javaclientsdk.models.shared.Organization;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;
            import java.time.OffsetDateTime;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    Organization req = Organization.builder()
                            .id("<id>")
                            .name("<value>")
                            .slug("<value>")
                            .accountType(AccountType.SCALE_UP)
                            .telemetryDisabled(false)
                            .createdAt(OffsetDateTime.parse("2023-12-01T17:06:07.804Z"))
                            .updatedAt(OffsetDateTime.parse("2023-04-03T12:48:32.253Z"))
                            .build();

                    CreateOrganizationResponse res = sdk.organizations().create()
                            .request(req)
                            .call();

                    if (res.organization().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/organization/{organizationID}:
    parameters:
      - name: organizationID
        in: path
        required: true
        description: Unique identifier of the organization.
        schema:
          type: string
    get:
      summary: Get organization
      description: |-
        Get information about a particular organization.
      operationId: getOrganization
      x-speakeasy-name-override: get
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getOrganization
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.Get(ctx, operations.GetOrganizationRequest{
                    OrganizationID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.Organization != nil {
                    // handle response
                }
            }
        - lang: java
          label: getOrganization
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetOrganizationRequest;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetOrganizationResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetOrganizationRequest req = GetOrganizationRequest.builder()
                            .organizationID("<id>")
                            .build();

                    GetOrganizationResponse res = sdk.organizations().get()
                            .request(req)
                            .call();

                    if (res.organization().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/organization/free_trial:
    post:
      summary: Create a free trial for an organization
      description: |-
        Creates a free trial for an organization
      operationId: createFreeTrial
      responses:
        "2XX":
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: createFreeTrial
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.CreateFreeTrial(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
        - lang: java
          label: createFreeTrial
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.CreateFreeTrialResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    CreateFreeTrialResponse res = sdk.organizations().createFreeTrial()
                            .call();

                    // handle response
                }
            }
  /v1/organization/usage:
    get:
      summary: Get billing usage summary for a particular organization
      description: |-
        Returns a billing usage summary by target languages for a particular organization
      operationId: getOrganizationUsage
      x-speakeasy-name-override: getUsage
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationUsageResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getOrganizationUsage
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetUsage(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.OrganizationUsageResponse != nil {
                    // handle response
                }
            }
        - lang: java
          label: getOrganizationUsage
          source: |-
            package hello.world;

            import dev.speakeasyapi.javaclientsdk.SDK;
            import dev.speakeasyapi.javaclientsdk.models.errors.Error;
            import dev.speakeasyapi.javaclientsdk.models.operations.GetOrganizationUsageResponse;
            import dev.speakeasyapi.javaclientsdk.models.shared.Security;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Error, Exception {

                    SDK sdk = SDK.builder()
                            .security(Security.builder()
                                .apiKey("<YOUR_API_KEY_HERE>")
                                .build())
                        .build();

                    GetOrganizationUsageResponse res = sdk.organizations().getUsage()
                            .call();

                    if (res.organizationUsageResponse().isPresent()) {
                        // handle response
                    }
                }
            }
  /v1/organization/billing_operations:
    get:
      summary: Get billing operations breakdown for an organization
      description: |-
        Returns a breakdown of billing operations by language and generated SDK target
        for an organization. Each language row is sourced from generation events,
        and target rows optionally include the source spec namespace when available.
      operationId: getBillingOperations
      x-speakeasy-name-override: getBillingOperations
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingOperationsResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getBillingOperations
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetBillingOperations(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.BillingOperationsResponse != nil {
                    // handle response
                }
            }
  /v1/organization/billing_email:
    get:
      summary: Get billing email for an organization
      description: |-
        Returns the billing email and Stripe customer status for the current organization
      operationId: getBillingEmail
      x-speakeasy-name-override: getBillingEmail
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingEmailResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getBillingEmail
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetBillingEmail(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.BillingEmailResponse != nil {
                    // handle response
                }
            }
    post:
      summary: Create or update billing email
      description: |-
        Creates a Stripe customer if one does not exist, or updates the billing email for an existing Stripe customer
      operationId: upsertBillingEmail
      x-speakeasy-name-override: upsertBillingEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingEmailRequest"
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingEmailResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: upsertBillingEmail
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.UpsertBillingEmail(ctx, shared.BillingEmailRequest{
                    BillingEmail: "Graciela.Sauer@hotmail.com",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.BillingEmailResponse != nil {
                    // handle response
                }
            }
  /v1/organization/add_ons:
    post:
      summary: Create billing add ons
      operationId: createBillingAddOns
      tags:
        - Organizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationBillingAddOnRequest"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationBillingAddOnResponse"
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: createBillingAddOns
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.CreateBillingAddOns(ctx, shared.OrganizationBillingAddOnRequest{
                    AddOns: []shared.BillingAddOn{
                        shared.BillingAddOnCustomCodeRegions,
                    },
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.OrganizationBillingAddOnResponse != nil {
                    // handle response
                }
            }
    get:
      summary: Get billing add ons
      operationId: getBillingAddOns
      tags:
        - Organizations
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationBillingAddOnResponse"
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: getBillingAddOns
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetBillingAddOns(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.OrganizationBillingAddOnResponse != nil {
                    // handle response
                }
            }
  /v1/organization/add_ons/{add_on}:
    parameters:
      - name: add_on
        in: path
        required: true
        description: The specific add-on to delete.
        schema:
          $ref: "#/components/schemas/BillingAddOn"
    delete:
      summary: Delete billing add ons
      operationId: deleteBillingAddOn
      tags:
        - Organizations
      responses:
        "200":
          description: Success
        5XX:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-codeSamples:
        - lang: go
          label: deleteBillingAddOn
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.DeleteBillingAddOn(ctx, operations.DeleteBillingAddOnRequest{
                    AddOn: shared.BillingAddOnSDKTesting,
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
  /v1/organization/billing/business_tier_prices:
    get:
      summary: Get business tier prices
      description: |-
        Returns both monthly and annual business tier prices from Stripe
      operationId: getBusinessTierPrices
      x-speakeasy-name-override: getBusinessTierPrices
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessTierPricesResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getBusinessTierPrices
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetBusinessTierPrices(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.BusinessTierPricesResponse != nil {
                    // handle response
                }
            }
  /v1/billing/checkout/callback:
    get:
      summary: Checkout callback
      description: |-
        Handles the Stripe checkout success callback. This endpoint is called by Stripe
        after a successful checkout, runs reconciliation (idempotent), and redirects
        to the original client success URL stored in session metadata.
      operationId: handleCheckoutCallback
      x-speakeasy-name-override: handleCheckoutCallback
      security: []
      parameters:
        - name: session_id
          in: query
          required: true
          description: The Stripe checkout session ID
          schema:
            type: string
      responses:
        "303":
          description: Redirect to client success URL
          headers:
            Location:
              description: The client success URL to redirect to
              schema:
                type: string
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: handleCheckoutCallback
          source: |-
            package main

            import(
            	"context"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New()

                res, err := s.Organizations.HandleCheckoutCallback(ctx, operations.HandleCheckoutCallbackRequest{
                    SessionID: "<id>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res != nil {
                    // handle response
                }
            }
  /v1/organization/billing/subscription:
    get:
      summary: Get organization subscription
      description: |-
        Returns the subscription status for the current organization
      operationId: getOrganizationSubscription
      x-speakeasy-name-override: getSubscription
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSubscriptionResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getOrganizationSubscription
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetSubscription(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.OrganizationSubscriptionResponse != nil {
                    // handle response
                }
            }
  /v1/organization/billing/subscription/cancel:
    post:
      summary: Cancel subscription
      description: |-
        Requests cancellation of the organization's self-service business subscription.
        The subscription will be cancelled at the end of the current billing period.
        Specify a target to keep after downgrade to free tier when active targets remain.
      operationId: cancelSubscription
      x-speakeasy-name-override: cancelSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelSubscriptionRequest"
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelSubscriptionResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: cancelSubscription
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.CancelSubscription(ctx, shared.CancelSubscriptionRequest{})
                if err != nil {
                    log.Fatal(err)
                }
                if res.CancelSubscriptionResponse != nil {
                    // handle response
                }
            }
  /v1/organization/billing/subscription/cancel/revert:
    post:
      summary: Revert subscription cancellation
      description: |-
        Reverts a pending subscription cancellation.
        The subscription will continue to renew automatically.
      operationId: revertSubscriptionCancellation
      x-speakeasy-name-override: revertSubscriptionCancellation
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelSubscriptionResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: revertSubscriptionCancellation
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.RevertSubscriptionCancellation(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.CancelSubscriptionResponse != nil {
                    // handle response
                }
            }
  /v1/organization/billing/trial_targets:
    get:
      summary: Get trial targets
      description: |-
        Returns the list of target languages with available and used trials for the organization.
        Available trials are languages that have not yet been trialed.
        Used trials are languages that have already been trialed.
      operationId: getTrialTargets
      x-speakeasy-name-override: getTrialTargets
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrialTargetsResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getTrialTargets
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetTrialTargets(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.TrialTargetsResponse != nil {
                    // handle response
                }
            }
  /v1/organization/languages:
    get:
      summary: Get language billing configurations
      description: |-
        Returns all language billing configurations for the organization.
        Only returns languages with self-serve billing configured.
      operationId: getLanguages
      x-speakeasy-name-override: getLanguages
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLanguagesResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: getLanguages
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.GetLanguages(ctx)
                if err != nil {
                    log.Fatal(err)
                }
                if res.GetLanguagesResponse != nil {
                    // handle response
                }
            }
  /v1/organization/languages/{language}/activate:
    parameters:
      - name: language
        in: path
        required: true
        description: The target language (e.g., typescript, python, go)
        schema:
          type: string
    post:
      summary: Activate language
      description: |-
        Activates a language for billing. If the language was previously deactivated,
        this will reactivate it. If the language is new, it may require checkout.
      operationId: activateLanguage
      x-speakeasy-name-override: activateLanguage
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageActivationResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: activateLanguage
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
                ctx := context.Background()

                s := speakeasyclientsdkgo.New(
                    speakeasyclientsdkgo.WithSecurity(shared.Security{
                        APIKey: speakeasyclientsdkgo.Pointer("<YOUR_API_KEY_HERE>"),
                    }),
                )

                res, err := s.Organizations.ActivateLanguage(ctx, operations.ActivateLanguageRequest{
                    Language: "<value>",
                })
                if err != nil {
                    log.Fatal(err)
                }
                if res.LanguageActivationResponse != nil {
                    // handle response
                }
            }
  /v1/organization/languages/{language}/deactivate:
    parameters:
      - name: language
        in: path
        required: true
        description: The target language (e.g., typescript, python, go)
        schema:
          type: string
    post:
      summary: Deactivate language
      description: |-
        Deactivates a language. Subject to 2-week cooldown between deactivations.
      operationId: deactivateLanguage
      x-speakeasy-name-override: deactivateLanguage
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LanguageActivationResponse"
          description: OK
        4XX:
          $ref: "#/components/responses/default"
      tags:
        - Organizations
      x-codeSamples:
        - lang: go
          label: deactivateLanguage
          source: |-
            package main

            import(
            	"context"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/shared"
            	speakeasyclientsdkgo "github.com/speakeasy-api/speakeasy-client-sdk-go/v3"
            	"github.com/speakeasy-api/speakeasy-client-sdk-go/v3/pkg/models/operations"
            	"log"
            )

            func main() {
[...]
